PORT=8000
MONGODB_URI=mongodb+srv://password@cluster0.ajnfc.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=ABCJKFKJGORWJFRKJFAKSDJF //random
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=KDFJASDFKJAF  //random
REFRESH_TOKEN_EXPIRY=10d